/* selesctor{
        propiedad: valor;
        propiedad: valor;
} */
body{
    /* color de fondo */
    background-color: #ccdead;
    /* Color del texto */
    color:blueviolet;
    font-family: 'Martel', serif;
    font-size: x-large;
    }

    h1{
        color: black;
    }
    h2{
        color: blue;
    }
    img{
        /* ancho del objeto */
        width: 500px;


    }
     .moomin-mom{
        width: 500px;
        border-radius: 10%;
        box-shadow:1px 0px 50px rgb(255, 0, 0);
    } 


